build
cover
.coverage
dist
*.egg-info
.eggs
html
junk*
metacell/version.py
.mypy_cache
.poor_stubs
.publish_html
__pycache__
.qsub
.reformat
sphinx/generated
sphinx/*.rst
.*.swo
.*.swp
tags
tgutils/version.py
.tox
