include tgutils/py.typed
include tgutils/poor_stubs/*.pyi
include tgutils/poor_stubs/*/*.pyi
include tgutils/poor_stubs/*/*/*.pyi
include tests/*.py
include tools/*
include tox.ini
exclude .*.swp
exclude */.*.swp
